*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

header{
    background-color: rgb(49, 49, 49);
    height: 50px;
    padding: 15px;
    position: sticky;
}

.banner{
    text-align: center;
    color: rgb(226, 226, 226);
    background-image: url(banner1112.jpg);
    background-size: cover;
    height: 400px;
    width: 100%;
}

.detail{background-image: url(detail.jpg);
    background-size: cover;
    height: 400px;
    width: 100%;
    color: rgb(226, 226, 226);
    text-align: center;
}

.para{
    height: 100px;
    width: 700px;
    margin-left: 300px;
    opacity: 0.9;
}

.button {
    background-color: #bba906;
    border: none;
    color: white;
    padding: 12px 18px;
    text-align: center;
    font-weight: bold;
    display: inline-block;
    font-size: 14px;
  }

  .butt1{
    background-color: #838174;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-weight: bold;
    display: inline-block;
    font-size: 16px;
  }

  .butt2{
    background-color: #838174;
    border: none;
    color: white;
    padding: 5px 12px;
    text-align: center;
    font-weight: bold;
    display: inline-block;
    font-size: 10px;
    border-radius: 5px;
  }
.row{
    background-image: url(detail2.jpg);
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}
.col{
    border-radius: 0px;
    text-align: justify;
    background-color: rgba(66, 66, 66, 0.623);
    height: 400px;
    width: 220px;
    margin: 10px;
    padding: 20px;
    font-size: 15px;
}
footer{
    background-color: rgb(49, 49, 49);
    height: 80px;
    padding: 5px;
    text-align: center;
    color:rgb(230, 230, 230);
}


footer ul{
    margin-top: 15px;
    display: flex;
    margin-left: 250px;
}
footer ul li a{
    justify-content: space-between;
    color: rgb(245, 245, 245);
    margin: 100px;
    text-decoration: none;
}